
@import"scss/Utils/variables";
@import"scss/Utils/mixins";
@import"scss/Utils/animations";
@import"scss/Base/bases";
@import"scss/Base/reset";
@import"scss/Layout/header";
@import"scss/Layout/main";
@import"scss/Layout/footer";


