@import"utils/variables";

/*bases*/
@font-face {
    font-family: "Roboto";
    src: url("Polices/Roboto/Roboto-Regular-webfont.ttf");
}



h1,
h2,
h3,
p,
a,
span {
    font-family: "Roboto";
}

a,
ul {
    text-decoration: none;

}


/*Reset*/



/*layout header*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
    padding-bottom: 10px;






    &__logo {
        justify-content: center;
        border-style: none;


    }



}


/*Layout  location*/



.location {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 5%;
    background: $lightgray-color;
    box-shadow: 0px 3px 3px -1px $shadow-color inset;





    &__icon {
        display: inline-block;
        font-size: large;
        color:#353535;
        padding-left: 11%;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;





    }

    .input {
        width: 60%;
        border: none;
        margin-left: 3%;
        height: 6%;
        text-align: center;
        line-height: 1;
        background: $lightgray-color;
        font-weight: 800;
        color: black;
    }



}



/*layout section speech*/

.speech {
    background-color: $whitegray-color;
    text-align: center;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3%;
        padding-bottom: 20%;

    }


    &__title {
        font-size: 29px;
        font-weight: 700;
        padding: 5%;
        margin: 1% 0% 0% 3%;

    }






    &__subtitle {

        font-style:normal;
        font-size:20px;
        margin: 0% 0% 12% 0%;
    }


}




/*BTN*/
.button {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    background-image: linear-gradient(to top left, $primary-color, $secondary-color);
    border: 0;
    border-radius: 30px;
    width: 265px;
    height: 60px;
    box-shadow: 0px 6px 10px 0px $shadow-color ;
  
    margin: 0% 0%  0% 15% ;
   

    &__text {
        color: white;
        font-size: 20px;
        font-weight: 400;
        padding: 9%;
     
    
}
}

/*section title*/
.section__title {
    margin-bottom: 7%;
    margin-top: 10%;
    padding-left: 8%;
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;

}

/*layout section working*/


.working {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;


    &__step {
        &__content {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-bottom: 10%;
            margin-left: 10%;
            margin-right: 10%;
            padding: 5% 0% 5% 0%;
            background-color: $whitegray-color;
            border-radius: 18px;
            box-shadow: 1px 2px 11px 1px $shadow-color;
        }

        &__num {

            display: flex;
            justify-content: center;
            position: relative;
            background-color: $primary-color ;
            color: white;
            width: 8%;
            height: 3%;
            margin-left: -3%;
            margin-right: 6%;
            padding: 1%;
            border-radius: 50%;


        }

        &__icon {
            margin-right: 6%;
            color: $darkgray-color;
        }
    }
}

.restaurant {
    background-color: $whitegray-color;
    padding: 1%;

    &__card {
        display: flex;
        width: 85%;
        height: 230px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 1px 8px 1px $shadow-color;
        margin-bottom: 10%;
        margin-left: 7%;

        overflow: hidden;
        background-color: white;
        position: relative;


        &__img {
            width: 90vw;
            height: 40vw;
            object-fit: cover;
            object-position: 50% 60%;
            border-radius: 20px 20px 0px 0px;

        }

        &__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    padding-left: 4%;
    padding-top: 2%;
        }

         
        &__name{
        font-weight: bold;

    }

   


         
         &__heart{
            padding-top: 3%;
                padding-right: 4%;


                &:hover .fa-heart-animated{
                    cursor: pointer;
                   
                   
                }       
    }
    
        
    
        
          
        
    

        &__grab{
         
            background-color:$tertiary-color ;
       position: absolute;
       top: 10px;
       right: 8px;
       border-radius: 2px;
       padding: 2%;
       margin: 2%;
       color:$deepsea-color ;
       font-weight: 600;
            
        }
    }
    }
    





/*Layout Footer*/
.footer {
    background-color: $darkgray-color ;
}