@import"./utils/variables";
@import"./Utils/mixins";
@import"./Base/bases";
@import"./Composants/loader";
@import"./Composants/title";
@import"./Composants/btn";
@import"./Composants/card";
@import"./Composants/plat";
@import"./Layout/header";
@import"./Layout/footer";
@import"./Pages/accueil";
@import"./Pages/menu";

