/*bases*/
h1 h2,
h3,
p,
a,
span {
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0%;
}

/*section title*/
.section__title {
  margin-bottom: 7%;
  margin-top: 10%;
  padding-left: 8%;
  font-size: 23px;
  font-weight: 700;
  text-transform: capitalize;
}

.underline-title {
  text-transform: uppercase;
  font-family: "roboto";
  padding-left: 5%;
  padding-top: 5%;
}
.underline-title:after {
  background: #99E2D0;
  width: 32px;
  height: 3px;
  display: block;
  content: "";
  position: relative;
  bottom: -3px;
}

.header-title {
  font-family: "shrikhand", cursive;
  font-size: 20px;
}

/*BTN*/
.btn {
  display: inline-block;
  margin: 0% 18% 0% 18%;
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: 400;
  padding: 4%;
  margin-bottom: 9%;
  margin-top: 9%;
  border-radius: 35px;
  box-shadow: 0px 3px 12px 0px #c4c3c0;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}

/*button heart*/
.btn-heart {
  font-size: 20px;
  border: none;
}

.card {
  width: 85%;
  height: 230px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10%;
  margin-left: 7%;
  overflow: hidden;
  background-color: white;
  position: relative;
  box-shadow: 0px 3px 12px 0px #c4c3c0;
}
.card__img {
  width: 100%;
  height: 71%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 4%;
  padding-top: 2%;
}
.card__link:link {
  color: black;
}
.card__text {
  color: black;
  line-height: 22px;
}
.card__name {
  font-weight: bold;
}
.card__grab {
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 8px;
  border-radius: 3px;
  padding: 2%;
  margin: 2%;
  color: #008766;
  font-weight: 600;
}

.plat {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
.plat__card {
  width: 92%;
  background-color: white;
  align-items: baseline;
  margin: 16px;
  padding: 12px;
  border-radius: 16px;
  box-shadow: 0px 3px 12px 0px #c4c3c0;
}
.plat__info {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}
.plat__title {
  font-weight: bold;
  margin-bottom: 5px;
}
.plat__subtitle {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
}
.plat__price {
  font-weight: 800;
  margin-top: auto;
  margin-left: 16px;
}
.plat__check {
  background: #99E2D0;
  color: #FFF;
  font-size: 20px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -12px -72px -12px 16px;
}

/*layout header*/
.header {
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
}
.header__logo {
  padding-left: 22%;
  justify-content: center;
  border-style: none;
}
.header__back {
  padding-right: 22%;
  padding-left: 6%;
}

/*Layout Footer*/
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  padding-bottom: 8%;
  color: white;
}
.footer__title {
  font-family: "shrikhand", cursive;
  font-size: 16px;
  color: white;
  padding-left: 7%;
}
.footer__content {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
  padding-left: 6%;
  line-height: 26px;
}
.footer__link {
  color: white;
  font-family: "roboto";
  font-size: 15px;
  padding-left: 9%;
  text-align: justify;
  padding-bottom: 4%;
}
.footer .footer-icon {
  padding-right: 2%;
  font-size: 14px;
}

/*Layout  location*/
.location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 5%;
  background: #eaeaea;
  box-shadow: 0px 3px 3px -1px #c4c3c0 inset;
}
.location__icon {
  display: inline-block;
  font-size: large;
  color: #353535;
  padding-left: 11%;
}
.location .form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location .input {
  width: 60%;
  border: none;
  margin-left: 3%;
  height: 6%;
  text-align: center;
  line-height: 1;
  background: #eaeaea;
  font-weight: 800;
  color: black;
}

/*layout section speech*/
.speech {
  background-color: #f6f6f6;
  text-align: center;
}
.speech__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 20%;
}
.speech__title {
  font-size: 25px;
  font-weight: 700;
  padding: 4%;
  margin: 1% 0% 0% 3%;
}
.speech__subtitle {
  font-style: normal;
  font-size: 20px;
  margin: 0% 0% 12% 0%;
}

.working {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.working__step__content {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5% 0% 5% 0%;
  border-radius: 18px;
  box-shadow: 0px 3px 12px 0px #c4c3c0;
}
.working__step__num {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #9356DC;
  color: white;
  width: 8%;
  height: 3%;
  margin-left: -3%;
  margin-right: 6%;
  padding: 1%;
  border-radius: 50%;
}
.working__step__icon {
  margin-right: 6%;
  color: #7e7e7e;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 1%;
}
.restaurant__card {
  width: 85%;
  height: 230px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10%;
  margin-left: 7%;
  overflow: hidden;
  background-color: white;
  position: relative;
  box-shadow: 0px 3px 12px 0px #c4c3c0;
}
.restaurant__card__img {
  width: 100%;
  height: 71%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__card__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 4%;
  padding-top: 2%;
}
.restaurant__card__link:link {
  color: black;
}
.restaurant__card__text {
  color: black;
  line-height: 22px;
}
.restaurant__card__name {
  font-weight: bold;
}
.restaurant__card__grab {
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 8px;
  border-radius: 2px;
  padding: 2%;
  margin: 2%;
  color: #008766;
  font-weight: 600;
}

/*details*/
.menu {
  padding: 0;
}
.menu__picture {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  background-color: white;
}
.menu__content {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  z-index: 2;
  border-radius: 40px 40px 0px 0px;
  margin-top: -16%;
  position: relative;
  padding: 0%;
}
.menu__heading {
  padding: 10% 10% 0% 0%;
}
.menu__title {
  font-family: "shrikhand", cursive;
  font-size: 25px;
}
.menu__plat {
  margin-bottom: 0%;
  background-color: #f6f6f6;
}
.menu__order {
  text-align: center;
  margin-bottom: 0%;
}/*# sourceMappingURL=style.css.map */