/*bases*/
@font-face {
  font-family: "Roboto";
  src: url("Polices/Roboto/Roboto-Regular-webfont.ttf");
}
h1,
h2,
h3,
p,
a,
span {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

/*Reset*/
/*layout header*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6%;
  padding-bottom: 10px;
  /*pages de details*/
}
.header__logo {
  justify-content: center;
  border-style: none;
}
.header--menu {
  display: flex;
}

/*Layout  location*/
.location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 5%;
  background: #eaeaea;
  box-shadow: 0px 3px 3px -1px #c4c3c0 inset;
}
.location__icon {
  display: inline-block;
  font-size: large;
  color: #353535;
  padding-left: 11%;
}
.location .form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location .input {
  width: 60%;
  border: none;
  margin-left: 3%;
  height: 6%;
  text-align: center;
  line-height: 1;
  background: #eaeaea;
  font-weight: 800;
  color: black;
}

/*layout section speech*/
.speech {
  background-color: #f6f6f6;
  text-align: center;
}
.speech__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 20%;
}
.speech__title {
  font-size: 29px;
  font-weight: 700;
  padding: 5%;
  margin: 1% 0% 0% 3%;
}
.speech__subtitle {
  font-style: normal;
  font-size: 20px;
  margin: 0% 0% 12% 0%;
}

/*BTN*/
.button {
  display: flex;
  align-items: center;
  background-color: #9356DC;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  border: 0;
  border-radius: 30px;
  width: 265px;
  height: 60px;
  box-shadow: 0px 6px 10px 0px #c4c3c0;
  margin: 0% 0% 0% 15%;
}
.button__text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 9%;
}

/*section title*/
.section__title {
  margin-bottom: 7%;
  margin-top: 10%;
  padding-left: 8%;
  font-size: 23px;
  font-weight: 700;
  text-transform: capitalize;
}

/*layout section working*/
.working {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.working__step__content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5% 0% 5% 0%;
  background-color: #f6f6f6;
  border-radius: 18px;
  box-shadow: 1px 2px 11px 1px #c4c3c0;
}
.working__step__num {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #9356DC;
  color: white;
  width: 8%;
  height: 3%;
  margin-left: -3%;
  margin-right: 6%;
  padding: 1%;
  border-radius: 50%;
}
.working__step__icon {
  margin-right: 6%;
  color: #7e7e7e;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 1%;
}
.restaurant__card {
  display: flex;
  width: 85%;
  height: 230px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 1px 8px 1px #c4c3c0;
  margin-bottom: 10%;
  margin-left: 7%;
  overflow: hidden;
  background-color: white;
  position: relative;
}
.restaurant__card__img {
  width: 90vw;
  height: 71%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__card__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 4%;
  padding-top: 2%;
}
.restaurant__card__link:link {
  color: black;
}
.restaurant__card__text {
  color: black;
  line-height: 22px;
}
.restaurant__card__name {
  font-weight: bold;
}
.restaurant__card__heart {
  padding-top: 3%;
  padding-right: 4%;
  font-size: 20px;
  padding-top: 0%;
}
.restaurant__card__grab {
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 8px;
  border-radius: 2px;
  padding: 2%;
  margin: 2%;
  color: #008766;
  font-weight: 600;
}

/*Layout Footer*/
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  padding-bottom: 8%;
  color: white;
}
.footer__title {
  font-family: Shrikhand;
  font-size: 20px;
  color: white;
  padding-left: 9%;
}
.footer__content {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}
.footer__content__link {
  color: white;
  font-family: roboto;
  font-size: 17px;
  padding-left: 9%;
  text-align: justify;
  padding-bottom: 4%;
}
.footer__content .footer-icon {
  padding-right: 2%;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */