/*Layout  location*/

.location {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 5%;
    background: $lightgray-color;
    box-shadow: 0px 3px 3px -1px $shadow-color inset;





    &__icon {
        display: inline-block;
        font-size: large;
        color: #353535;
        padding-left: 11%;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .input {
        width: 60%;
        border: none;
        margin-left: 3%;
        height: 6%;
        text-align: center;
        line-height: 1;
        background: $lightgray-color;
        font-weight: 800;
        color: black;
    }
}
/*layout section speech*/

.speech {
    background-color: $whitegray-color;
    text-align: center;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3%;
        padding-bottom: 20%;

    }


    &__title {
        font-size: 25px;
        font-weight: 700;
        padding: 4%;
        margin: 1% 0% 0% 3%;

    }






    &__subtitle {

        font-style: normal;
        font-size: 20px;
        margin: 0% 0% 12% 0%;
    }

}

.working {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;


    &__step {
        &__content {

            background-color: $whitegray-color;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-bottom: 10%;
            margin-left: 10%;
            margin-right: 10%;
            padding: 5% 0% 5% 0%;
            border-radius: 18px;
            @include border-shadow;

        }

        &__num {

            display: flex;
            justify-content: center;
            position: relative;
            background-color: $primary-color ;
            color: white;
            width: 8%;
            height: 3%;
            margin-left: -3%;
            margin-right: 6%;
            padding: 1%;
            border-radius: 50%;


        }

        &__icon {
            margin-right: 6%;
            color: $darkgray-color;
        }
    }
}



.restaurant {
    background-color: $whitegray-color;
    padding: 1%;

    &__card {

        width: 85%;
        height: 230px;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 10%;
        margin-left: 7%;
        overflow: hidden;
        background-color: white;
        position: relative;
        @include border-shadow;



        &__img {
            width: 100%;
            height: 71%;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;

        }

        &__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 4%;
            padding-top: 2%;



        }

        &__link:link {
            color: black;
        }

        &__text {

            color: black;
            line-height: 22px;
        }

        &__name {
            font-weight: bold;
        }


        &__grab {

            background-color: $tertiary-color ;
            position: absolute;
            top: 10px;
            right: 8px;
            border-radius: 2px;
            padding: 2%;
            margin: 2%;
            color: $deepsea-color ;
            font-weight: 600;

        }
    }
}