/*details*/
.menu {
    
    padding: 0;
  

    &__picture {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: relative;
        z-index: 1;
        background-color: white;
    }

    &__content {
        background-color: $whitegray-color;
        display: flex;
        flex-direction: row;
        align-items:baseline;
        justify-content: space-around;
        z-index: 2;
        border-radius: 40px 40px 0px 0px;
        margin-top: -16%;
        position: relative;
        padding: 0%;
    }


    &__heading {

        padding: 10% 10% 0% 0%;

    }


    &__title {
        font-family: "shrikhand",cursive;
        font-size: 25px;
       


    }
    




    &__plat {
        margin-bottom: 0%;
        background-color: $whitegray-color;
    
        

    }

    &__order {
        text-align: center;
        margin-bottom: 0%;

    }
    
}
