/*details*/
.menu {
    
    padding: 0;
    background-color: $whitegray-color;


    &__picture {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: relative;

    }

    &__content {
        display: flex;
        flex-direction: row;
        
    }


    &__heading {

        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 10% 0% 6%;

    }


    &__title {
        font-family: "shrikhand",cursive;
        font-size: 25px;


    }
    




    &__plat {
        margin-bottom: 0%;


    }

    &__order {
        text-align: center;
        margin-bottom: 0%;

    }
}
