/*Layout Footer*/
.footer {
    background-color: $minegray-color ;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    padding-bottom: 8%;
    color: white;




    &__title {
        font-family: "shrikhand", cursive;
        font-size: 16px;
        color: white;
        padding-left: 7%;



    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-top: 6%;
        padding-left:6%; 
        line-height:26px;
    }

    &__link {

        color: white;
        font-family: 'roboto';
        font-size: 15px;
        padding-left: 9%;
        text-align: justify;
        padding-bottom: 4%;
     

    }

    .footer-icon {
        padding-right: 2%;
        font-size: 14px;
    }

}
