@import"scss/Utils/variables";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
    box-shadow: 0px 3px 4px 0px $darkgray-color;
   
    

   &__logo {
        justify-content: center;

    }



}