/*layout header*/
.header {
  
    padding-top: 16px;
    padding-bottom: 6px;
    position: relative;
    @include flex(row, center,normal,nowrap);


    &__logo {

        padding-left: 22%;
        justify-content: center;
        border-style: none;
       
    }

    &__back{
        padding-right:22%;
        padding-left: 6%;
    }

}