/*layout header*/
.header {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;


    &__logo {
        padding-left: 22%;
        justify-content: center;
        border-style: none;
    }

    &__back{
        padding-right:22%;
        padding-left: 6%;
    }

}