
@import"Utils/variables";



.location {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 3%;
    background: $lightgray-color;


    .fa-location-dot {
        font-size: large;
    }

    .input {
        border: none;
        width: 70%;
        text-align: center;
        background: $lightgray-color;
        font-weight:800;
        color: black;
    }
}


.speech {
    background-color: $whitegray-color;
    text-align: center;

    .intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 9%;
        padding-bottom: 9%;

    }


    .title {
        font-size: 23px;
        font-weight: 500;
      
       

    }

    .subtitle {
      
        font-style: normal;


    }
}

.working{
 
    padding-bottom: 0%;
 
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.wtitle{
    padding-bottom: 6%;
}
.wcard{
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
}
.wicon{
 margin: 0%;
}
}