
    /*BTN*/
    .btn {
        display: inline-block;
        margin: 0% 18% 0% 18%;

        text-align: center;
        color: white;
        font-weight: 400;
        padding: 4%;
        margin-bottom: 9%;
        margin-top: 9%;
        border-radius: 35px;
        font-size: $font-size-min ;
        @include border-shadow;
        @include linear-gradient;
&--cmd{
  padding: 13px 45px 13px 45px ;
  

}
    }
    
  /*button heart*/
  .btn-heart {

    font-size: $font-size-med;
  
    border: none;
    padding-right: 18px;
    justify-content: baseline;
}
    
