
    /*BTN*/
    .btn {
        display: inline-block;
        margin: 0% 18% 0% 18%;
        font-size: 16px;
        text-align: center;
        color: white;
        font-weight: 400;
        padding: 4%;
        margin-bottom: 9%;
        margin-top: 9%;
        border-radius: 35px;
        @include border-shadow;
        @include linear-gradient;

    }
     /*button heart*/
  .btn-heart {
    
   
    font-size: 20px;
  ;
    border: none;
}

