
    /*BTN*/
    .btn {
        display: inline-block;
        margin: 0% 18% 0% 18%;
        font-size: 16px;
        text-align: center;
        color: white;
        font-weight: 400;
        padding: 4%;
        border-radius: 35px;
        @include border-shadow;
        @include linear-gradient;

    }
     /*button heart*/
  .btn-heart {
    padding-top: 3%;
    padding-right: 4%;
    font-size: 20px;
    padding-top: 0%;
    border: none;
}

