.plat {
    
    &__card {
        width: 92%;
        background-color: white;
        align-items: baseline;
        margin: 16px;
        padding: 12px;
        border-radius: 16px;
        @include border-shadow;

    }


    &__info {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
    }


    &__title {
        font-weight: bold;
        margin-bottom: 5px;

    }

    &__subtitle {
        font-size: $font-size-min ;
        white-space: nowrap;
        overflow: hidden;
    }


    &__price {
        font-weight: 800;
        margin-top: auto;
        margin-left: 16px;


    }

    &__check {
        background: $tertiary-color;
        color: #FFF;
        font-size: 20px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        width: 56px;


        margin: -12px -72px -12px 16px;
        @include flex(row, center, center, flex-wrap);


    }


}