/*section title*/
.section__title {
    margin-bottom: 7%;
    margin-top: 10%;
    padding-left: 8%;
    font-size: 23px;
    font-weight: 700;
    text-transform: capitalize;

}

.underline-title{
    font-family:"roboto";
    text-transform: uppercase;
    padding-left: 5%;
    padding-top:8%;
    

}